<ion-view>
<ion-content scroll="false">
  <ion-slides  options="options" slider="data.slider">
    <ion-slide-page>
      <img class="filler" src="./img/one.png"/>
	  <button class="button button-block button-calm" ng-click="skip()">Skip</button>
    </ion-slide-page>
    <ion-slide-page>
      <img class="filler" src="./img/two.png"/>
	  <button class="button button-block button-calm" ng-click="skip()">Skip</button>
    </ion-slide-page>
    <ion-slide-page>
      <img class="filler" src="./img/three.png"/>
	  <button class="button button-block button-calm" ng-click="skip()">Skip</button>
    </ion-slide-page>
  </ion-slides>
</ion-content>
</ion-view>