<ion-view view-title="Welcome" name="welcome-view">
  <ion-content class="padding">
      <button class="button button-block button-calm" ng-click="plantrip()">Plan Trip</button>
      <button class="button button-block button-calm" ng-click="plantrip()">Nearby Routes</button>
      <button class="button button-block button-calm" ng-click="plantrip()">M-ticket</button>
      <button class="button button-block button-calm" ng-click="plantrip()">Favourites</button>
      <button class="button button-block button-calm" ng-click="plantrip()">Settings</button>
  </ion-content>
</ion-view>